.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    
    .scoreContainer {
        position: relative;
        width: 500px;
        height: 200px;
        margin-top: 0rem;
        margin-left: 0rem;
        // margin-bottom: 3rem;
        
        .scoreBg {
            object-fit: contain;
            z-index: 1;
        }
        
        .scoreContent {
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1.5rem;
            padding-left: 0.6rem;
            
            .score {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 1rem;
                
                .scoreValue {
                    font-size: 2rem;
                    font-weight: bold;
                    color: white;
                    min-width: 70px;
                    text-align: center;
                }
                
                .teamId {
                    font-size: 2rem;
                    opacity: 0.9;
                    color: black;
                    min-width: 50px;
                    text-align: center;
                }
            }
            
            .matchInfo {
                display: flex;
                gap: 1rem;
                font-size: 1.2rem;
                color: white;
                
                .pool, .roundName {
                    opacity: 0.9;
                }
            }
        }
    }
    
    .logos {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .khelClubLogo, .streamingLogo {
            img {
                object-fit: contain;
            }
        }
    }
} 