.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    h1 {
      margin-bottom: 15px;
      font-size: 24px;
      color: #333;
    }
  
    .displayContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .tournamentIdText {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
      }
  
      .changeButton {
        margin-top: 1rem;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  
      .formGroup {
        width: 100%;
        margin-bottom: 10px;
        
        .inputField {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
          
          &:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
        }
  
        .errorMessage {
          color: #ff4d4f;
          font-size: 14px;
          margin-top: 5px;
        }
      }
  
      .submitButton {
        margin-top: 1rem;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .paths{
        margin-top: 3rem;
        
        button{
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            margin:1rem;
      
            &:hover {
              background-color: #0056b3;
            }
        }
    }
  }
  