.container {
  background: linear-gradient(135deg, #264488, #1e3566);
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 50px;
  .logo {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 2px;
      background: none;
      border: none;
      cursor: pointer;
      color: #ffffff;
      transition: color 0.1s ease;
      &:hover {
        color: greenyellow;
      }
    }
  }

  .name {
  }

  .format {
    text-align: right;
    text-transform: capitalize;
    p {
      margin: 0.25rem 0;
      font-size: 0.9rem;
      font-weight: 500;
      color: #e0e0e0;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    .logo {
      p {
        font-size: 1rem;
      }
    }
    .name {
      h2 {
        font-size: 1.5rem;
      }
    }

    .format {
      display: flex;
      p {
        font-size: 0.85rem;
        margin: 0.25rem 0.5rem;
      }
    }
  }
}
